<nav class="navbar is-spaced is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a #nav_burger (click)="toggleNavbar()" role="button" class="navbar-burger burger" aria-label="menu"
            aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div #nav_menu id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

            <a [routerLink]="['/']" (click)="toggleNavbar()" class="navbar-item"> Home </a>
            <a [routerLink]="['profile']" (click)="toggleNavbar()" class="navbar-item"> Profile </a>
            <a [routerLink]="['lobbies']" (click)="toggleNavbar()" class="navbar-item"> Lobbies </a>
            <a [routerLink]="['matches']" (click)="toggleNavbar()" class="navbar-item"> Matches </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item"><strong>{{profile?.displayName}}</strong></div>
            <figure *ngIf="isAuthenticated" class="image is-48x48 mt-1 is-hidden-tablet-only is-hidden-mobile">
                <img  class="is-rounded" src="https://gravatar.com/avatar/{{imageHash}}" />
            </figure>
            <div class="navbar-item">
                <div class="buttons">
                    <a *ngIf="!isAuthenticated" [routerLink]="['login']" [queryParams]="{returnUrl:currentUrl}"
                        class="button">
                        Log in
                    </a>
                    <a *ngIf="isAuthenticated" [routerLink]="['logout']" [queryParams]="{returnUrl:currentUrl}"
                        class="button">
                        Log out
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>