<div class="card">
    <div class="card-body">
        <h4 class="card-title">Lobby: {{info?.id}}</h4>
        <p>GameId : {{info?.gameId}}</p>
        <p>InitiatorId : {{info?.initiatorId}}</p>
        <p>State : {{info?.state}}</p>
        <div class="mb-3">
            <label for="" class="form-label">Players</label>
            <input type="text" class="form-control form-control-sm" value="{{info?.players}}" id=""
                aria-describedby="helpId" placeholder="" />
            <small id="helpId" class="form-text text-muted">json</small>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Properties</label>
            <input type="text" class="form-control form-control-sm" value="{{info?.properties}}" id=""
                aria-describedby="helpId" placeholder="" />
            <small id="helpId" class="form-text text-muted">json</small>
        </div>
    </div>
</div>