<form (submit)="onCreateLobbyClick()">

    <div class="field has-addons">
        <div class="control">
            <div class="select is-rounded">
                <select #currencySelector [(ngModel)]="createLobbyModel.bet.currencyId" name="currencyId"
                    class="form-select form-select-lg">
                    <option selected value="1">TON</option>
                    <option value="2">WNDT</option>
                </select>
            </div>
        </div>
        <div class="control">
            <div class="field">
                <p class="control">
                    <input [(ngModel)]="createLobbyModel.bet.amount" name="amount" class="input" placeholder="Amount">
                </p>
            </div>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <div class="select is-rounded">
                <select [(ngModel)]="createLobbyModel.gameId" name="gameId">
                    <option value='' selected>Select the game</option>
                    <option *ngFor="let item of games" value="{{item.id}}">{{item.title}}</option>
                </select>
            </div>
        </div>

        <div class="control is-align-content-center">
            <label class="checkbox">
                <input [(ngModel)]="createLobbyModel.private" name="private" type="checkbox" />
                Private
            </label>
        </div>

    </div>
    <div class="field">
        <div class="container">
            <div class="control">
                <button type="submit" class="button is-success is-fullwidth is-outlined">
                    Create
                </button>
            </div>
        </div>
    </div>
</form>