<div class="box">
    <div class="field is-horizontal is-grouped ">
        <label class="label is-align-content-center is-skeleton">Lobby ID</label>
        <input class="input is-skeleton" type="text" disabled />
    </div>
    <div class="field is-horizontal is-grouped ">
        <label class="label is-align-content-center is-skeleton">Game ID</label>
        <input class="input is-skeleton" type="text" disabled />
    </div>
    <div class="field is-grouped is-horizontal ">
        <div class="control">
            <label class="label is-skeleton">Created</label>
            <p class="is-skeleton">10/01/2000</p>
        </div>
        <div class="control">
            <label class="is-skeleton">Updated</label>
            <p class="is-skeleton">10/01/2000</p>
        </div>
        <div class="control">
            <label class="is-skeleton">State</label>
            <p class="is-skeleton">active</p>
        </div>
        <div class="control">
            <label class="is-skeleton">Bet</label>
            <p class="is-skeleton">100</p>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="label is-skeleton">Rooms</div>
            <textarea class="textarea is-skeleton" placeholder="..."></textarea>
        </div>
        <div class="column">
            <label class="label is-skeleton">JoinFilters</label>
            <textarea class="textarea is-skeleton" placeholder="..."></textarea>
        </div>
    </div>
    <div class="buttons">
        <button type="button" class="button is-skeleton">
            Join
        </button>
    </div>
</div>