<div class="box">
    <div class="field is-horizontal">
        <label class="label">Lobby ID</label>
        <input class="input" type="text" value="{{info.id}}" disabled />
    </div>
    <div class="field is-horizontal">
        <label class="label">Game ID</label>
        <input class="input" type="text" value="{{info.gameId}}" disabled />
    </div>
    <div class="p-4 is-background-dark level is-horizontal is-mobile is-rounded">
        <div class="level-item">
            <div>
                <p class="label">Created</p>
                <p>{{info.createdAt | date:'short'}}</p>
            </div>
        </div>
        <div class="level-item  ">
            <div>
                <p class="label">Updated</p>
                <p>{{info.updatedAt | date:'short'}}</p>
            </div>
        </div>
        <div class="level-item">
            <div>
                <p class="label">State</p>
                <p>{{info.state}}</p>
            </div>
        </div>
        <div class="level-item ">
            <div>
                <p class="label">Bet</p>
                <p>{{info.bet.amount}}</p>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="columns is-horizontal is-mobile">
            @for (item of info.rooms; track $index) {
            <div class="column has-text-centered">
                <strong>Team {{item.index}}
                    ({{info.rooms[item.index].members.length}}/{{info.rooms[item.index].maxMembers}})</strong>
            </div>
            @if(info.rooms.length < $index){ <div class="column is-narrow has-text-centered"> vs
        </div>
        }
        }
    </div>
    <div class="block">
        <div class="columns is-horizontal is-mobile">
            @for (item of info.rooms; track $index) {
            <div class="column has-text-centered">
                @if(!isJoined && item.members.length !== item.maxMembers){
                <div (click)="onJoinClick.emit({lobbyId:info.id, roomIndex:item.index})"
                    class="button is-64x64 is-rounded is-background-dark">
                    Join
                </div>
                }
            </div>
            }
        </div>
    </div>
    <!-- <div class="field">
        <label class="label ">JoinFilters</label>
        <textarea class="textarea" placeholder="...">{{info.joinFilters | json}}</textarea>
    </div> -->
    <button #leave *ngIf="isJoined" (click)="onLeaveClick.emit({lobbyId:info.id, roomIndex:0})"
        (click)="leave.classList.toggle('is-loading')" type="button" class="button is-fullwidth">
        Leave
    </button>
</div>